[Desktop Entry]
Name=Razer Settings
Comment=Configure your Razer laptop power and lighting profiles
Exec=razer-settings
Icon=com.github.encomjp.razercontrol
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;System;
